body{
    margin-top: 5px;
}

.watermelon {
    width: 200px;
    background-color: rgb(250, 152, 152);
    text-align: center;
    display: block;
    margin-left: 50px;
}
.watermelonWrapper{
    border: 1px dashed rgb(152, 205, 140);
    width: 300px;
    margin-bottom: 30px;
    margin-left: 10px;
    padding: 5px;
    display: inline-block;

}
.watermelonWrapper:hover{
    border: 5px solid rgb(152, 205, 140)
}
